<form class="search-form" (ngSubmit)="findRepos()">
        <div class="form-group form-inline">
            
                <input type="text" required class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="username">
            <button type="submit" class="btn btn-info ml-3"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div id="home">
        <p class="text-center"><strong>GIT-HUB SEARCH - </strong> </p>
    </div>
    
    <div *ngIf='repos'>
        <h3 class="text-center">Repos</h3>
        <div class="row">
            <div class="card m-1 col-sm-4" *ngFor='let repo of repos '>
                <div class="card-header-header">
                    <h5>{{repo.name}}</h5>
                </div>
    
                <div class="card-body">
                    <p>{{repo.description}}</p>
                </div>
    
                <p>
                    <a href="{{repo.html_url}}" class="btn btn-sm btn-info pull-right" target="_blank">View    </a>
                </p>
    
            </div>
        </div>
    </div>
